ui li {
  list-style: none;
}

.intro {
  color: grey;
  font-style: italic;
  font-size: 14px;
}


body {
  font-family: 'Epilogue', sans-serif;
  margin: 20px;
}

a:link {
  text-decoration: none;
  color: #51578f;
}

a:visited {
  color: #51578f;
}

h3 {
  font-size: 18px;
}
