* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.board {
  width: 900px;
  margin: auto;
  background-color: lightblue;
  display: flow-root;
  padding: 50px;
}

.red, .black {
  width: 100px;
  height: 100px;
  float: left;
}

.red {
  background-color: tomato;
}
.black {
  background-color: #262626;
}

.contain {
  width: 1200px;
  margin: auto;
  background-color: grey;
  display: flow-root;
}
.header {
  width: 1000px;
  height: 100px;
  background-color: #ffd68f;
  margin-top: 10px;
  margin-bottom: 10px;
}
.bar {
  width: 1000px;
  height: 20px;
  background-color: #ffd68f;
  margin-top: 10px;
  margin-bottom: 10px;
}
.col, .col2 {
  width: 33%;
  height: 500px;
  background-color: #ffd68f;
  margin: 10px, 10px, 10px;
  float: left;
  display: flow-root;
}

.footer {
  width: 1000px;
  height: 100px;
  background-color: #ffd68f;
  margin-top: 10px;
  display: flow-root;
}
