* {
  box-sizing: border-box;
}
body {
  margin: 0;
  background-color: pink;
  overflow-x: hidden;
}
main {

}

div {
  width: 100px;
  height: 100px;
  background-color: red;
  margin: 50px;
  float: left;
}

.shape2 {
  width: 50px;
  height: 100px;
  background-color: lightblue;
  margin: 50px 150px;
  float: left;
}

/*easy way: <class="shape4">*/
/*not so hard way, its just more typing ig: #p2 .shape2 {
  width: 400px;
}*/
/*u know what i already typed it in class so i might as well do it the other way since i love to struggle*/

#p2 .shape2 {
  width: 400px;
}
