* {
  box-sizing: border-box;
}
body {
  margin: 0;
  background-color: pink;
  overflow-x: hidden;
  font-family: 'Epilogue', sans-serif;
}
main {

}
div {
  width: 100px;
  height: 100px;
  background-color: red;
  margin: 50px;
  float: left;
}
.shape2 {
  width: 50px;
  height: 100px;
  background-color: lightblue;
  margin: 50px 150px;
  float: left;
}
/*easy way: <class="shape4">*/
/*not so hard way, its just more typing ig: #p2 .shape2*/
.shape3 {
  width: 40px;
  height: 40px;
  background-color: orange;
  margin: 30px 5px 30px;
  float: left;
}
.shape4 {
  width: 40px;
  height: 40px;
  background-color: black;
  border-radius: 50%;
  margin: 30px -40px 20px;
  float: left;
}
.shape5 {
  width: 10px;
  height: 20px;
  background-color: white;
  border-radius: 50%;
  margin: 40px -10px 20px;
  float: left;
}
.shape6 {
  width: 50px;
  height: 80px;
  background-color: hotpink;
  opacity: 60%;
  margin: -10px;
  float: left;
}
.shape7 {
  width: 50px;
  height: 80px;
  background-color: lightblue;
  opacity: 60%;
  margin: -10px;
  float: left;
}
.shape8 {
  width: 50px;
  height: 80px;
  background-color: #f7baff;
  opacity: 60%;
  margin: -10px;
  float: left;
}
.shape9 {
  width: 100px;
  height: 100px;
  background-color: black;
  margin: 0px;
  float: left;
}
.shape10 {
  width: 100px;
  height: 100px;
  background-color: white;
  margin: 0px;
  float: left;
}
.shape11 {
  width: 100px;
  height: 100px;
  background-color: white;
  margin: 0 -200px 0;
  border-radius: 50%;
  float: left;
}
.shape12 {
  width: 100px;
  height: 100px;
  background-color: black;
  margin: 0 -100px 0;
  border-radius: 50%;
  float: left;
}
.shape13 {
  width: 10px;
  height: 100px;
  background-color: black;
  margin: 0 -156px 0;
  float: left;
}
.shape14 {
  width: 100px;
  height: 10px;
  background-color: white;
  margin: 47px -100px 0;
  float: left;
}
/*i've made several attempts on doing triangles, i've decided that i've given up on doing triangles, am never doing triangles, please do not offer to teach me triangles, im done with them. circles and squares are my new best friends*/
.shape15 {
  width: 70px;
  height: 70px;
  margin: 0;
  border-radius: 50%;
  background-color: #fff09e;
  float: left;
   }
  .shape16 {
    width: 70px;
    height: 70px;
    margin: 0px -50px 0px;
    border-radius: 50%;
    background-color: #ffe86b;
    float: left;
  }
  .shape17 {
    width: 70px;
    height: 70px;
    margin: 0px -40px 0px;
    border-radius: 50%;
    background-color: #ffe247;
    float: left;
  }
  .shape18 {
    width: 70px;
    height: 70px;
    margin: 0px -30px 0px;
    border-radius: 50%;
    background-color: #ffdd26;
    float: left;
  }
