* {
  box-sizing: border-box;
}
body {
  margin: 0;
  background-color: pink;
  overflow-x: hidden;
}
main {

}

div {
  width: 100px;
  height: 100px;
  background-color: red;
  margin: 50px;
  float: left;
}

.shape2 {
  width: 50px;
  height: 100px;
  background-color: lightblue;
  margin: 50px 150px;
  float: left;
}

/*or we can rename them
like <class="shape4">*/
#p2 .shape2 {
  width: 400px;
}
