* {
  box-sizing: border-box;
}

body {
  background-color: pink;
  margin: 0;
}

img {
  width: 100%;
}

header {
  background-color: orange;
  padding: 50px;
  display: flow-root;
}

main {
  background-color: purple;
}

footer {
  background-color: skyblue;
}

h1 {
  margin: 0;
}

p {
  margin: 0;
}

ul {
  margin: 0;
  list-style-type: none;
  padding: 0;
}

li {
  float: left;
  margin-left: 25px;
}


.title {
  float: left;
}

nav {
  float: right;
}

.hero {
  background: url(../img/coolcat.jpg) no-repeat center center;
 background-size: cover;
 padding: 400px 0;
}

h1 {
  text-align: center;
}

p.subhead {
  text-align: center;
}
