* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: black;
}

.holder {
  width: 800px;
  height: 800px;
  background-color: black;
  margin: auto;
  margin-top: 30px;
  position: relative;
  animation-name: float;
  animation-duration: 1s;
  animation-name: move;
  animation-iteration-count: infinite;
}

@keyframes float {
  from {
    top: 0;
    left: 0;
  }

  to {
    top: 0;
    left: calc(100vw - 100px);
  }
}


.head {
  width: 390px;
  height: 400px;
  background-color: white;
  border-radius: 60% 60% 40% 40% / 50% 50% 50% 50%;
  position: relative;
  top: 20px;
  left: 210px;
}

/*NTS: the power of google is amazing*/
.rightear {
  width: 110px;
  height: 120px;
  background-color: white;
  border-radius: 50px 15px;
  position: relative;
  top: 120px;
  left: 460px;
  transform: rotate(-10deg);
}

.leftear {
  width: 110px;
  height: 120px;
  background-color: white;
  border-radius: 15px 50px;
  position: absolute;
  top: 120px;
  left: 250px;
  transform: rotate(10deg);
}

.lefteye, .righteye {
  width: 50px;
  height: 50px;
  background-color: black;
  border-radius: 50%;
  position: absolute;
  top: 290px;
  left: 280px;
}
.righteye {
  top: 290px;
  left: 480px;
}

.midface {
  width: 121px;
  height: 68px;
  background-color: #f0f0f0;
  border-radius: 100px / 50px;
  position: absolute;
  top: 297px;
  left: 345px;
}

/*i finally figured out how to do triangles, i dont know why it didnt work last time esp. since all i did was the exact same thing that i tried doing before but please praise me regardless. im making STRIDES michael */
.nose {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid black;
  /*i tried rounding it out like it was a rectangle but this is the closest i can get so this is what we're gonna deal with*/
  border-radius: 15px;
  z-index: 10;
  position: absolute;
  top: 15px;
  left: 38px;
}

.mouthline1, .mouthline2 {
  width: 40px;
  height: 40px;
  background-color: black;
  border-radius: 50%;
  position: absolute;
  top: 18px;
  left: 20px;
}

.mouthline2 {
  position: absolute;
  top: 18px;
  left: 57px;
}

.mouthoverline1, .mouthoverline2 {
  width: 40px;
  height: 40px;
  background-color: #f0f0f0;
  border-radius: 50%;
  z-index: 5;
  position: absolute;
  top: 13px;
  left: 16px;
}

.mouthoverline2 {
  position: absolute;
  top: 14px;
  left: 60px;
}

.gown {
  width: 390px;
  height: 205px;
  background-color: white;
  position: absolute;
  left: 210px;
  top: 377px;
}

.gownbottom, .gownbottom2, .gownbottom3 {
  width: 100px;
  height: 150px;
  background-color: white;
  position: absolute;
  border-radius: 50%;
  left: 209px;
  bottom: 156px;
}

.gownbottom2 {
  left: 355px;
  bottom: 156px;
}

.gownbottom3 {
  left: 501px;
  bottom: 156px;
}

.gownbottomnegative, .gownbottomnegative2 {
  width: 50px;
  height: 50px;
  background-color: black;
  position: absolute;
  border-radius: 50%;
  left: 307px;
  bottom: 192px;
  z-index: 6;
}

.gownbottomnegative2 {
  left: 454px;
  bottom: 192px;
}

/*i've been trying to figure out whether i should stick with making this a cat or turning it into a bat. I couldnt figure out how to make a tail w/o it looking ugly and i feel like trying to make bat wings is simply too much work. So we're gonna pretend her tail is behind her*/
