* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: black;
}

.holder {
  width: 800px;
  height: 800px;
  background-color: grey;
  margin: auto;
  margin-top: 30px;
}

.ears {
  width: 100px;
  height: 100px;
  background-color: pink;
  display: block;
  border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
  position: absolute;
  left: 40px;
}

.head {
  width: 390px;
  height: 390px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  top: 150px;
  margin-left: 210px;

}
